<h1>Listing protocols</h1>

<div id="flashes"></div>

<table id="protocols-list">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<br>

<a class="create" href="protocols/new">New Protocol</a>
