<td><%= model.escape('name') %></td>
<td><a href="protocols/<%= model.id %>">Show</a></td>
<td><a href="protocols/<%= model.id %>/edit">Edit</a></td>
<td><a href="protocols/<%= model.id %>" data-method="destroy" rel="nofollow">Destroy</a></td>
